@model IEnumerable<OneStopSolution.Models.JobCategories>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoriesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon_Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available_Jobs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icon_Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available_Jobs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
